
body{
    font-family:'Garamond';
}
.flex-container {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    
  }
.flex-container > div {
    flex: 1;
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;


}

.flex-container > div:hover{
    background-color: rgb(173, 212, 237);
    font-weight: bolder;
}